body {
    background-color: lightgray;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 16px;
    gap: 16px;
}

#app-title {
    text-align: center;
    font-size: 56px;
}

.lower-row {
    flex: auto;
    display: flex;
    flex-direction: row-reverse;
}

#sketchpad {
    width: 436.97px;
    box-sizing: border-box;
    border: 1px solid black;
    background-color: white;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
}

.pixel {
    border: 1px solid black;
}

/* #control-settings {
    flex: 3;
} */